*{
    padding: 0; margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(37, 39, 39);
    line-height: 1.5;
    font-size: 1rem;
    
}
    
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
    max-width: 1330px;
    margin: 0 auto;
}
.menu{
    display: flex;
    list-style: none;

}
.menu li{
    margin-left: 94px;

}
.menu li a{
    color: rgb(39, 39, 39) ; text-decoration: none;
}
.menu li a:hover{
    color: rgb(69, 135, 211);
}
.img_wrap{
    background: url(https://global-uploads.webflow.com/620c0d2e51cac37f5958848f/620d58973552fc2c3e9ba659_pexels-tara-winstead-8386440.jpg) center center no-repeat;
    background-size: cover;
    padding: 75px 0 145px 0;
}
.img{
    color: white;
    text-align: center;
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.img_txt{
    font-weight: 700; font-size: 1.5rem; line-height: 2rem; margin-bottom: 20 px;
}
.img_title{
    font-weight: 700; font-size: 3rem; line-height: 5rem; margin-bottom: 30 px; 
}
.text_wrap{
    max-width: 1150px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 2;
    
}
.button {
    padding: 16px 32px;
    margin: 4px 2px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer; 
}
.button:hover {
    background-color: #e7e7e7;
}